body {
    background: #3B4B37;
    color: #F3F1C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    background: #3B4B37;
    color: #F3F1C4;
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    background: #636E54;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: small;
}

.left-column {
    padding: 1em;
    box-sizing: border-box;
    width: 33%;
    border-right: 1px solid #F3F1C4;
}

.right-column {
    padding: 1em;
    box-sizing: border-box;
}

.options-btn {
    background: #3B4B37;
    color: #ffffff;
    border: none;
    padding: 0.3em 0.8rem;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 1rem;
}

.options-btn:hover {
    background: #232d21;
}

.upload-btn {
    background: #3B4B37;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.upload-btn:hover {
    background: #232d21;
}

#pdf-viewer {
    margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    height: 600px;
    border: none;
    display: none;
}