beautifulsoup4==4.12.2
fastapi==0.115.12
fastapi-cli==0.0.7
numpy==1.24.3
openpyxl3.1.2
pandas2.0.0
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pytest8.4.0
pytest-cov6.2.1
pytest-env1.1.5
pytest-html==4.1.1
pytest-metadata==3.1.1
requests2.31.0
uvicorn==0.34.3
